.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body
{
  background-color:#efefef;
  font-family: TT Commons Bold,Helvetica,Arial;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8;

  .content-header{
    color: #e74831!important;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .bm-icon
  {
    cursor: pointer;
  }
  .bm-icon:hover
  {
    color: #e74831!important;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
  {
    background-color: #e74831;
    border-color: #e74831;
  }
  .btn-primary.focus, .btn-primary:focus
  {
    box-shadow: 0 0 0 0.2rem #e74831bf;
  }
  .btn-primary
  {
    background-color: #e74831;
    border-color: #e74831;
    border-radius: 4px;
  }
  .btn-primary:hover
  {
    background-color: #d23c26;
    border-color: #d23c26;
  }
}

.trim-margin
{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.trim-padding
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.full-width
{
  width: 100%;
}